$filter-height: 2.2rem;

.equipment-card-list-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.filters-container {
    z-index: 10;
    box-sizing: border-box;
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 0.5rem 1rem;

    >* {
        height: 2.5rem;
    }

    .search-container {
        display: flex;
        background-color: rgb(15, 15, 15);
        border: 1px solid white;
        border-radius: 0px;
        box-sizing: border-box;
        height: $filter-height;

        img {
            box-sizing: border-box;
            padding: 5px;
            height: 100%;
        }

        input {
            height: 100%;
            width: 10rem;
            background-color: rgb(15, 15, 15);
            color: white;
            border: none;
            font-size: large;

            &:focus {
                outline: none;
            }
        }
    }

    button {
        aspect-ratio: 1/1;
        height: $filter-height;
        background-color: rgb(15, 15, 15);
        color: white;
        padding: 0px;
        border: 1px solid white;
        box-sizing: border-box;
        transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

        img {
            height: 100%;
            aspect-ratio: 1/1;
            transition: border 200ms ease-in-out, background-color 200ms ease-in-out;
        }

        &:hover {
            background-color: rgb(31, 31, 31);
        }

        &.active {
            border-color: gold;
        }
    }

    input {
        box-sizing: border-box;
        border-radius: 5px;
    }
}

// @media (max-width: 768px) {
//     div {
//         padding: 2rem 1rem;
//     }
// }