nav {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 3rem;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: xx-large;
    font-weight: 600;

    img {
      box-sizing: border-box;
      height: 100%;
      padding: 10px;
    }
  }
}