nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  padding: 5px 1rem;
  box-sizing: border-box;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;

    img {
      box-sizing: border-box;
      height: 100%;
    }
  }
}

.spacer {
  flex-grow: 1;
}