@use '../../../styles.scss';

.content-container {
  display: grid;
  grid-template-columns: 2fr minmax(auto, 1fr);
  transition: grid-template-columns 500ms ease-in-out;
  height: calc(100vh - styles.$nav-bar-height);
  overflow: hidden;

  >* {
    overflow-y: scroll;
  }
}

.equipment-card-list-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 6px;

  .always-show {
    display: block !important;
  }
}

.cdk-drag-placeholder {
  display: none;
}

.placeholder-equipment-card {
  aspect-ratio: 21/9;
  box-sizing: border-box;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon-only {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 2rem;
  background-color: styles.$item-bg-color;
  border: 1px solid white;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 0px;
  margin: 4px auto;
  color: white;


  &:hover {
    background-color: styles.$item-bg-hover-color;
  }

  .material-symbols-outlined {
    transform: rotate(90deg);
  }
}