<div class="content-container">
  <div #weaponList="cdkDropList" class="left equipment-card-list-container" cdkDropList cdkDropListSortingDisabled
    cdkDropListHasAnchor [cdkDropListData]="weapons" [cdkDropListConnectedTo]="[one, two]"
    (cdkDropListDropped)="moveFromCompare($event)">
    @for (item of weapons; track $index) {
    <hunt-equipment-card-component class="always-show" [weapon]="item" cdkDrag
      [cdkDragData]="item"></hunt-equipment-card-component>
    }
  </div>
  <div class="right">
    <div #one="cdkDropList" class="comparison-container" cdkDropList cdkDropListSortingDisabled cdkDropListHasAnchor [cdkDropListData]="comparisonOne"
      (cdkDropListDropped)="moveToComparisonOne($event)" [cdkDropListConnectedTo]="[weaponList]">
      @for (item of comparisonOne; track $index) {
      <hunt-compare-equipment-card-component [weapon]="item" cdkDrag [cdkDragData]="item">
        <ng-template cdkDragPlaceholder>
          <ng-container [ngTemplateOutlet]="placeholder"></ng-container>
        </ng-template>
        <ng-template cdkDragPreview [matchSize]="true">
          <ng-container [ngTemplateOutlet]="preview" [ngTemplateOutletContext]="{item}"></ng-container>
        </ng-template>
      </hunt-compare-equipment-card-component>
      } @empty {
      <ng-container [ngTemplateOutlet]="placeholder"></ng-container>
      }
    </div>
    <div>
      <button class="button-icon-only" (click)="switch()">
        <span class="material-symbols-outlined">sync_alt</span>
      </button>
    </div>
    <div #two="cdkDropList" class="comparison-container" cdkDropList cdkDropListSortingDisabled cdkDropListHasAnchor [cdkDropListData]="comparisonTwo"
      (cdkDropListDropped)="moveToComparisonTwo($event)" [cdkDropListConnectedTo]="[weaponList]">
      @for (item of comparisonTwo; track $index) {
      <hunt-compare-equipment-card-component [weapon]="item" cdkDrag [cdkDragData]="item">
        <ng-template cdkDragPlaceholder>
          <ng-container [ngTemplateOutlet]="placeholder"></ng-container>
        </ng-template>
        <ng-template cdkDragPreview [matchSize]="true">
          <ng-container [ngTemplateOutlet]="preview" [ngTemplateOutletContext]="{item}"></ng-container>
        </ng-template>
      </hunt-compare-equipment-card-component>
      } @empty {
      <ng-container [ngTemplateOutlet]="placeholder"></ng-container>
      }
    </div>
  </div>
</div>

<ng-template #placeholder>
  <div class="placeholder-equipment-card">
    <span>Drag a weapon here to start comparing</span>
  </div>
</ng-template>

<ng-template #preview let-item="item">
  <hunt-equipment-card-component [weapon]="item"></hunt-equipment-card-component>
</ng-template>