@use '../../../styles.scss';

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.weapon-card {
  margin: 0 1rem 1rem;

  .title {
  }

  .weapon-img {
    height: 80px;
    // display: flex;
    // justify-content: center;
    margin: 0.5rem;
    img {
      height: 100%;
    }
  }
  
  .ammo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
    // justify-content: space-around;
  }

  .aux-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;

    .ammo-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 24px;
        overflow: hidden;

        img {
          aspect-ratio: 1;
          height: 36px;
        }
      }

      .ammo {
        text-align: center;
        min-width: 6ch;
      }
    }

    .money {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .ammo-select {
    $button-size: 2rem;

    display: flex;
    flex-flow: row wrap;
    gap: 4px;

    button {
      aspect-ratio: 0.66;
      width: $button-size;
      box-sizing: border-box;
      padding: 3px 0px;
      transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

      border: none;
      background-color: transparent;

      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        aspect-ratio: 1/1;
        height: 100%;
      }
    }

    .can-hover {
      border: 1px solid styles.$button-border-color;
      background-color: styles.$item-bg-color;

      &:hover {
        background-color: styles.$item-bg-hover-color;
      }

      &.active {
        border-color: styles.$active-border-color;
      }
    }
  }
}



.ammo-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}