@use '../../../styles.scss';

.content-container {
  display: grid;
  grid-template-columns: minmax(400px, 33vw) minmax(350px, 67vw);
  // grid-template-rows: 1fr;
  // row-gap: 1rem;
  height: 100%;

  hunt-select-weapon-component {
    overflow-y: auto;
  }
}

@media (max-width: 1024px) {
  .content-container {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  .hunter-bodies-container {
    flex-direction: column;
  }
}


.chart-and-body-container {
  display: flex;
  flex-direction: column;
}

.hunter-bodies-container {
  display: flex;
  justify-content: space-around;
}

.modal {
  background-color: black;
  height: 100vh;
  overflow: auto;

  hunt-select-weapon-component {
    overflow-y: auto;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: inline-block;
    }
  }
}