.equipment-card {
    position: relative;
    aspect-ratio: 21 / 9;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgb(12, 12, 12);
    padding: 1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
    }

    span {
        position: absolute;
        color: white;
        user-select: none;
    }

    .top-left {
        top: 0.5rem;
        left: 0.5rem;
    }

    .top-right {
        top: 0.5rem;
        right: 0.5rem;
    }

    .bottom-left {
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .bottom-right {
        bottom: 0.5rem;
        right: 0.5rem;
    }
}