@use '../../../../styles.scss';

p {
  box-sizing: border-box;
  background-color: black;
  padding: 0.5rem;
  border: 1px solid #404040;
  border-radius: 3px;
  // width: 15ch;
  // font-size: smaller;
  text-align: center;
  opacity: 1;
  transition: opacity ease-in-out 300ms;

  @starting-style {
    opacity: 0
  }
}
