.background {
  background-color: aquamarine;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  background-color: black;
  border-radius: 8px;
  padding: 0.5rem 1rem;

  position: absolute;

  min-height: 200px;
  max-height: 600px;
  min-width: 300px;
  max-width: 1000px;

  margin: auto;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;

  overflow: auto;
}

.title {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;

  border: none;
  background: none;
  padding: 0;

  color: white;
}

@media (max-width: 576px) {
  .modal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
  }
}