@use '../../../styles.scss';

.equipment-card {
  position: relative;
  aspect-ratio: 21 / 9;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid styles.$button-border-color;
  border-radius: 2px;
  background-color: styles.$item-bg-color;
  transition: background-color 200ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: styles.$item-bg-hover-color;

    .nav-button {
      opacity: 1;
    }
  }

  >span {
    position: absolute;
    color: white;
    user-select: none;
  }

  .top-left {
    top: 0.5rem;
    left: 0.5rem;
  }

  .top-right {
    top: 5px;
    right: 5px;
  }

  .bottom-left {
    bottom: 0rem;
    left: 0.5rem;
  }

  .bottom-right {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

.weapon-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  box-sizing: border-box;
}

.hunt-dollars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.size-icon {
  display: flex;
  aspect-ratio: 1;
  height: 42px;
}

.active {
  border-color: styles.$active-border-color;
}

.nav-button {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;

  &:hover {
    color: black;
    background-color: white;
  }
}