.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    

    .left-content, .right-content {
        height: calc(100vh - 4rem);
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .right-content {
        button {
            position: absolute;
            top: 2rem;
            padding: 1rem;
            margin: 1rem;
            visibility: visible;
            transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;

            @starting-style {
                opacity: 0;
                transform: translateX(-20px);
            }
        }
    }
}

@media (max-width: 768px) {

}