<div class="flex-container">
    <div>
        <h1>{{rifle().name}} {{rifleCopy!.activeCustomAmmo?.name }}</h1>
        <p>Cost: {{rifle().cost}}</p>
        <p>Size: {{rifle().size}}</p>
        <p>Ammo type: {{rifle().baseAmmoName}} </p>
        <p>Ammo description: {{rifle().baseAmmoDescription}} </p>

        <div class="button-container">
            <button (click)="rifleCopy!.activeCustomAmmo = undefined">
                {{rifleCopy!.baseAmmoName}}
            </button>
            @for (ca of rifleCopy!.customAmmos; track $index) {
            <button (click)="rifleCopy!.activeCustomAmmo = ca">
                {{ca.name}}
            </button>
            }
        </div>

        <table>
            <tr>
                <td>
                    <div>
                        <span>Damage:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="150" [originalValue]="rifle().baseDamage"
                        [newValue]="rifleCopy!.baseDamage"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
                <td>
                    <div>
                        <span>Effective Range:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="50" [originalValue]="rifle().optimalRange"
                        [newValue]="rifleCopy!.optimalRange"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>

                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>Drop range:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="200" [originalValue]="rifle().dropRange"
                        [newValue]="rifleCopy!.dropRange"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
                <td>
                    <div>
                        <span>Muzzle Velocity:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="1000" [originalValue]="rifle().muzzleVelocity"
                        [newValue]="rifleCopy!.muzzleVelocity"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>Rate of fire:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="100" [originalValue]="rifle().rateOfFire"
                        [newValue]="rifleCopy!.rateOfFire"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
                <td>
                    <div>
                        <span>Cycle time:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="8" [originalValue]="rifle().cycleTime"
                        [newValue]="rifleCopy!.cycleTime"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>Reload Speed:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="20" [originalValue]="rifle().reloadTime"
                        [newValue]="rifleCopy!.reloadTime"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
                <td>
                    <div>
                        <span>Spread:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="200" [originalValue]="rifle().spread"
                        [newValue]="rifleCopy!.spread"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>Sway:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="150" [originalValue]="rifle().sway"
                        [newValue]="rifleCopy!.sway"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
                <td>
                    <div>
                        <span>Vertical Recoil:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="50" [originalValue]="rifle().verticalRecoil"
                        [newValue]="rifleCopy!.verticalRecoil"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>Melee damage:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="150" [originalValue]="rifle().meleeDamage"
                        [newValue]="rifleCopy!.meleeDamage"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
                <td>
                    <div>
                        <span>Stamina consumption:</span>
                    </div>
                    <hunt-stat-comparator-component [max]="100" [originalValue]="rifle().staminaConsumption"
                        [newValue]="rifleCopy!.staminaConsumption"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>Melee damage (Heavy):</span>
                    </div>
                    <hunt-stat-comparator-component [max]="150" [originalValue]="rifle().heavyMeleeDamage"
                        [newValue]="rifleCopy!.heavyMeleeDamage"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>
                <td>
                    <div>
                        <span>Stamina consumption (Heavy):</span>
                    </div>
                    <hunt-stat-comparator-component [max]="100" [originalValue]="rifle().heavyStaminaConsumption"
                        [newValue]="rifleCopy!.heavyStaminaConsumption"
                        [showComparison]="rifleCopy!.activeCustomAmmo !== undefined"></hunt-stat-comparator-component>

                </td>
            </tr>

        </table>
    </div>
    <hunt-hunter-body-component></hunt-hunter-body-component>
</div>