<div class="flex-container">
  <div>
    <h1>{{rifle().name}} {{copy.activeAmmo !== copy.baseAmmo ? copy.activeAmmo.info.name : '' }}</h1>
    <p>Cost: {{rifle().cost}} | Size: {{rifle().size}} | Ammo type: {{rifle().baseAmmo.info.name}}</p>
    <p>Ammo description: {{rifle().baseAmmo.info.description}}</p>

    <div class="button-container">
      @for (ammo of rifle().availableAmmo; track $index) {
      <button (click)="activateAmmo(ammo)" [class.active]="ammo.info.name === copy.activeAmmo.info.name">
        <img [src]="ammo.info.icon">
      </button>
      }
    </div>

    <hunt-comparison-table-component [left]="rifle()" [right]="copy"></hunt-comparison-table-component>
  </div>
</div>