div {
  display: flex;
  align-items: center;

  .meter {
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    background-color: #101010;
    border: 1px solid #505050;
    border-radius: 1px;
  }

  .stat-bar {
    box-sizing: border-box;
    height: 100%;
    background: #f0f0f0;
    transition: width 0.3s ease-in-out;
  }

  .stat-value {
    $text-size: 16px;
    text-align: right;
    width: 6ch;
    margin-right: 1ch;
    font-size: $text-size;
    // line-height: $text-size;
  }
}