:host {
  display: flex;
  justify-content: center;
}

.hunter-body-container {
  position: relative;
  width: fit-content;
  max-height: 90vh;
  min-height: 350px;
  box-sizing: border-box;

  p {
    position: absolute;
    font-size: xx-large;
    margin: 0;
    width: 15%;
  }

  .chest-damage,
  .cock-damage {
    text-align: center;
  }

  .arms-damage,
  .legs-damage {
    text-align: right;
  }

  .chest-damage {
    top: 25%;
    right: 37%;
  }

  .cock-damage {
    top: 47%;
    right: 37%;
  }

  .arms-damage {
    top: 25%;
    right: 80%;
  }

  .legs-damage {
    top: 70%;
    right: 66%;
  }

  .range {
    position: absolute;
    text-align: right;
    top: 36px;
    right: 55%;
  }

  img {
    // position: absolute;
    filter: invert(63%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(90%) contrast(82%);
    box-sizing: border-box;
    // border: 2px solid rgb(141, 141, 141);
    padding: 1rem;
    padding-left: 4rem;
    height: 100%;
  }
}

.goldenrod {
  color: goldenrod;
}

@media (max-width: 576px) {
  .hunter-body-container {
    .chest-damage {
      top: 25%;
      left: 50%;
    }

    .cock-damage {
      top: 45%;
      left: 50%;
    }

    .arms-damage {
      top: 25%;
      left: 11%;
    }

    .legs-damage {
      top: 70%;
      left: 25%;
    }
  }
}