@use '../../../styles.scss';

.compare-card {
  position: relative;
  width: 100%;
  aspect-ratio: styles.$compare-card-ratio;
  box-sizing: border-box;
  padding: 6px;
  border: 2px dashed transparent;
  transition: border-color 200ms ease-in-out;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  h2 {
    margin: 0px;
  }
}

.show-border {
  border-color: white;
}

.button-container {
  $button-size: 2.5rem;

  position: absolute;
  bottom: 6px;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;

  button {
    aspect-ratio: 1/1;
    height: $button-size;
    background-color: styles.$item-bg-color;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      aspect-ratio: 1/1;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: styles.$item-bg-hover-color;
    }

    &.active {
      border-color: gold;
    }
  }
}