@use '../../../styles.scss';

.compare-card {
  position: relative;
  width: 100%;
  aspect-ratio: 21 / 9;
  box-sizing: border-box;
  background-color: transparent;
  // padding: 0rem 0.5rem;
  transition: background-color 200ms ease-in-out;

  h2 {
    margin: 0px;
  }
}

.button-container {
  position: absolute;
  bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-auto-rows: 2rem;
  gap: 4px;


  button {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    border: 1px solid white;
    box-sizing: border-box;
    padding: 4px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      aspect-ratio: 1/1;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: rgb(31, 31, 31);
    }

    &.active {
      border-color: gold;
    }
  }
}