<div class="compare-card">
  <img [src]="weapon().image">
  <h2 class="top-left">
    {{weapon().name }} {{weapon().baseAmmo !== weapon().activeAmmo ? weapon().activeAmmo.info.name : '' }}
  </h2>
  <div class="bottom-left">
    <div class="button-container">
      @for (ammo of weapon().availableAmmo; track $index) {
      <button (click)="weapon().activeAmmo = ammo" [class.active]="ammo.info.name === weapon().activeAmmo.info.name">
        <img [src]="ammo.info.icon">
      </button>
      }
    </div>
  </div>
  <!-- <span class="bottom-right">{{weapon().cost}}</span> -->
</div>