<h1>{{weapon().name}} {{weapon().activeAmmo !== weapon().baseAmmo ? weapon().activeAmmo.info.name : '' }}</h1>
<div class="gun-img">
  <img [src]="weapon().image" />
</div>
<div class="flex-center-center gap-5">
  <span class="flex-center-center">
    <span class="flex-center-center ammo-type-icon">
      <img [src]="ammoTypeSrc()">
    </span> 
    {{weapon().magazine}}{{weapon().hasExtraBullet ? '+1' : ''}}/{{weapon().activeAmmo.ammoReserve}}
  </span>
  <img [src]="sizeSrc()">
  <span class="flex-center-center gap-5">
    <hunt-dollar-icon></hunt-dollar-icon>
    {{weapon().cost}}
  </span>
</div>
<!-- <p>Cost: {{weapon().cost}} | Size: {{weapon().size}} | Ammo type: {{weapon().baseAmmo.info.name}}</p>
<p>Ammo description: {{weapon().baseAmmo.info.description}}</p> -->

@if (showCustomAmmo()) {
<div class="button-container">
  @for (ammo of weapon().availableAmmo; track $index) {
  <button (click)="activateAmmo(ammo)" [class.active]="ammo.info.name === weapon().activeAmmo.info.name">
    <img [src]="ammo.info.icon">
  </button>
  }
</div>
}

<hunt-stat-table-component [weapon]="weapon()"></hunt-stat-table-component>