@use '../../../styles.scss';

:host {
  padding: 0px 0.5rem;
}

.spread-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container {
  $button-size: 48px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4px;

  margin-bottom: 1rem;

  button {
    aspect-ratio: 1/1;
    height: $button-size;
    background-color: styles.$item-bg-color;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 3px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      aspect-ratio: 1/1;
      height: 100%;
    }


  }

  .can-hover {
    &:hover {
      background-color: styles.$item-bg-hover-color;
    }

    &.active {
      border-color: gold;
    }
  }
}

.gun-img {
  position: relative;
  aspect-ratio: 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    width: max(300px, 75%);
  }

  div {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

.gap-5 {
  gap: 5px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.ammo-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 24px;
    overflow: hidden;

    img {
      aspect-ratio: 1;
      height: 36px;
    }
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}