<h1>{{weapon().name}} {{weapon().activeAmmo !== weapon().baseAmmo ? weapon().activeAmmo.info.name : '' }}</h1>
<div class="gun-img">
  <img [src]="weapon().image" />
</div>
<p>Cost: {{weapon().cost}} | Size: {{weapon().size}} | Ammo type: {{weapon().baseAmmo.info.name}}</p>
<p>Ammo description: {{weapon().baseAmmo.info.description}}</p>

@if (showCustomAmmo()) {
<div class="button-container">
  @for (ammo of weapon().availableAmmo; track $index) {
  <button (click)="activateAmmo(ammo)" [class.active]="ammo.info.name === weapon().activeAmmo.info.name">
    <img [src]="ammo.info.icon">
  </button>
  }
</div>
}

<hunt-stat-table-component [weapon]="weapon()"></hunt-stat-table-component>