@use '../../../styles.scss';

:host {
  padding: 0px 1rem;
}

.button-container {
  $button-size: 2rem;

  display: flex;
  flex-flow: row wrap;
  gap: 4px;

  button {
    aspect-ratio: 0.66;
    width: $button-size;
    box-sizing: border-box;
    padding: 3px 0px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      aspect-ratio: 1/1;
      height: 100%;
    }
  }

  .can-hover {
    border: 1px solid #d0d0d0;
    background-color: styles.$item-bg-color;

    &:hover {
      background-color: styles.$item-bg-hover-color;
    }

    &.active {
      border-color: gold;
    }
  }
}

.gun-img {
  position: relative;
  aspect-ratio: 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    width: max(300px, 75%);
  }

  div {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ammo-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 24px;
    overflow: hidden;

    img {
      aspect-ratio: 1;
      height: 36px;
    }
  }

  .ammo {
    text-align: center;
    min-width: 6ch;
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

.description-box {
  min-height: 75px;
}