@use '../../../styles.scss';

.weapon-header-container {
  $number-of-items: 2;

  width: 100vw;
  display: grid;
  grid-template-columns: repeat(var(--number-of-items), 50vw);
  overflow: auto;
  scrollbar-width: none;
}

.options-list-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  place-content: start center;
  margin-bottom: 1rem;
}

.modal-ammo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 0.5rem;
}