<div class="weapon-header-container" [style.--number-of-items]="compareList().length">
  @for (weapon of compareList(); track $index) {
  <hunt-weapon-info-card [weapon]="weapon" [withBottomButtons]="false"></hunt-weapon-info-card>
  }
</div>

<hunt-stat-table-component [weapons]="compareList()"></hunt-stat-table-component>

<hunt-bottom-buttons>
  <hunt-primary-button (click)="isOptionsModalOpen = true">Options</hunt-primary-button>
</hunt-bottom-buttons>

<hunt-modal title="Options" [(show)]="isOptionsModalOpen">
  <div class="options-list-container">
    @for (weapon of compareList(); track $index) {
    <h3>{{weapon.name}}</h3>
    <hunt-option-button icon="compare_arrows" (click)="openWeaponSelectModal($index)">
      <span>
        Change Weapon
      </span>
    </hunt-option-button>
    <hunt-option-button [img]="getAmmoSrc(weapon)" (click)="openAmmoSelectModal($index)">
      <span>
        Change Ammunition
      </span>
    </hunt-option-button>
    }
  </div>
  <hunt-primary-button (click)="openWeaponSelectModal(compareList().length)">
    <span class="material-symbols-outlined">add</span>
    Add New Weapon
  </hunt-primary-button>
</hunt-modal>

<hunt-modal title="Choose Weapon" [(show)]="isWeaponSelectionModalOpen">
  <hunt-select-weapon-component [showOptions]="false" (goToOption)="replaceWeapon($event, weaponSelecting)"></hunt-select-weapon-component>
</hunt-modal>

<hunt-modal title="Choose Ammunition" [(show)]="isAmmoSelectionModalOpen">
  <div class="modal-ammo-container">
    @for (ammo of compareList()[ammoSelecting].availableAmmo; track $index) {
    <hunt-filter-button [icon]="ammo.info.icon" [label]="ammo.info.name" [isActive]="compareList()[ammoSelecting].activeAmmo === ammo"
      (click)="replaceAmmo(ammo, ammoSelecting)"></hunt-filter-button>
    }
  </div>
  <hunt-primary-button (click)="isAmmoSelectionModalOpen = false">Confirm</hunt-primary-button>
</hunt-modal>