table {
  font-size: 16px;
  // table-layout: auto;
  width: max(400px, 100%);

  tr {
    td {
      width: 50%;
      padding: 0px 10px;
    }
  }
}

.select-box {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid transparent
}

.selecting {
  border: 1px solid white;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 3px;
  height: 3rem;
  margin-top: 10px;

  button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(15, 15, 15);
    border: 1px solid white;
    padding: 4px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      height: 100%;
      aspect-ratio: 1/1;
    }

    &:hover {
      background-color: rgb(31, 31, 31);
    }

    &.active {
      border-color: gold;
    }
  }
}

.flex-container {
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  div {
    flex: 1 1 30%;
  }
}

.toggle {
  aspect-ratio: 1/1;
  height: 1rem;
}