<div class="flex-container">
  <div>
    <div class="toggle">
      <input #toggle type="checkbox" (change)="flipComparisonMode($event.target)">
      <span>Compare</span>
    </div>
    <div class="select-box" [class.selecting]="toggle.checked && !leftSelected()">
      <h1>{{left().name}} {{left().baseAmmo !== left().activeAmmo ? left().activeAmmo.info.name : '' }}</h1>
      <p>Cost: {{left().cost}} | Size: {{left().size}} | Ammo type: {{left().activeAmmo.info.name}}</p>
      <p>Ammo description: {{left().activeAmmo.info.description}} </p>
      <div class="button-container">
        @for (ammo of left().availableAmmo; track $index) {
        <button (click)="left().activeAmmo = ammo" [class.active]="ammo.info.name === left().activeAmmo.info.name">
          <img [src]="ammo.info.icon">
        </button>
        }
      </div>
    </div>

    @if (toggle.checked) {
    <div class="select-box" [class.selecting]="toggle.checked && leftSelected() && !rightSelected()">
      <h1>{{right().name}} {{right().baseAmmo !== right().activeAmmo ? right().activeAmmo.info.name : '' }}</h1>
      <p>Cost: {{right().cost}} | Size: {{right().size}} | Ammo type: {{right().activeAmmo.info.name}}</p>
      <p>Ammo description: {{right().activeAmmo.info.description}} </p>
      <div class="button-container">
        @for (ammo of right().availableAmmo; track $index) {
        <button (click)="right().activeAmmo = ammo" [class.active]="ammo.info.name === right().activeAmmo.info.name">
          <img [src]="ammo.info.icon">
        </button>
        }
      </div>
    </div>
    }

    <hunt-comparison-table-component [left]="left()" [right]="right()"></hunt-comparison-table-component>
  </div>
</div>