<div class="flex-container">
  <div>
    <div class="toggle">
      <input #toggle type="checkbox" (change)="flipComparisonMode($event.target)">
      <span>Compare</span>
    </div>
    <div class="select-box" [class.selecting]="toggle.checked && !leftSelected()">
      <h1>{{left().name}} {{left().baseAmmo !== left().activeAmmo ? left().activeAmmo.info.name : '' }}</h1>
      <p>Cost: {{left().cost}} | Size: {{left().size}} | Ammo type: {{left().activeAmmo.info.name}}</p>
      <p>Ammo description: {{left().activeAmmo.info.description}} </p>
      <div class="button-container">
        @for (ammo of left().availableAmmo; track $index) {
        <button (click)="left().activeAmmo = ammo" [class.active]="ammo.info.name === left().activeAmmo.info.name">
          <img [src]="ammo.info.icon">
        </button>
        }
      </div>
    </div>

    @if (toggle.checked) {
    <div class="select-box" [class.selecting]="toggle.checked && leftSelected() && !rightSelected()">
      <h1>{{right().name}} {{right().baseAmmo !== right().activeAmmo ? right().activeAmmo.info.name : '' }}</h1>
      <p>Cost: {{right().cost}} | Size: {{right().size}} | Ammo type: {{right().activeAmmo.info.name}}</p>
      <p>Ammo description: {{right().activeAmmo.info.description}} </p>
      <div class="button-container">
        @for (ammo of right().availableAmmo; track $index) {
        <button (click)="right().activeAmmo = ammo" [class.active]="ammo.info.name === right().activeAmmo.info.name">
          <img [src]="ammo.info.icon">
        </button>
        }
      </div>
    </div>
    }

    <table>
      <tr>
        <td>
          <div>
            <span>Damage:</span>
          </div>
          <hunt-stat-comparator-component [max]="150" [originalValue]="left().activeAmmo.baseDamage"
            [newValue]="right().activeAmmo.baseDamage"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
        <td>
          <div>
            <span>Effective Range:</span>
          </div>
          <hunt-stat-comparator-component [max]="50" [originalValue]="left().activeAmmo.optimalRange"
            [newValue]="right().activeAmmo.optimalRange"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>

        </td>
      </tr>
      <tr>
        <td>
          <div>
            <span>Drop range:</span>
          </div>
          <hunt-stat-comparator-component [max]="200" [originalValue]="left().activeAmmo.dropRange"
            [newValue]="right().activeAmmo.dropRange"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
        <td>
          <div>
            <span>Muzzle Velocity:</span>
          </div>
          <hunt-stat-comparator-component [max]="1000" [originalValue]="left().activeAmmo.muzzleVelocity"
            [newValue]="right().activeAmmo.muzzleVelocity"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <span>Rate of fire:</span>
          </div>
          <hunt-stat-comparator-component [max]="100" [originalValue]="left().rateOfFire"
            [newValue]="right().rateOfFire" [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
        <td>
          <div>
            <span>Cycle time:</span>
          </div>
          <hunt-stat-comparator-component [max]="8" [originalValue]="left().cycleTime" [newValue]="right().cycleTime"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <span>Reload Speed:</span>
          </div>
          <hunt-stat-comparator-component [max]="20" [originalValue]="left().reloadTime" [newValue]="right().reloadTime"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
        <td>
          <div>
            <span>Spread:</span>
          </div>
          <hunt-stat-comparator-component [max]="200" [originalValue]="left().activeAmmo.spread"
            [newValue]="right().activeAmmo.spread" [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <span>Sway:</span>
          </div>
          <hunt-stat-comparator-component [max]="150" [originalValue]="left().sway" [newValue]="right().sway"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
        <td>
          <div>
            <span>Vertical Recoil:</span>
          </div>
          <hunt-stat-comparator-component [max]="50" [originalValue]="left().activeAmmo.verticalRecoil"
            [newValue]="right().activeAmmo.verticalRecoil"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <span>Melee damage:</span>
          </div>
          <hunt-stat-comparator-component [max]="150" [originalValue]="left().meleeDamage"
            [newValue]="right().meleeDamage" [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
        <td>
          <div>
            <span>Stamina consumption:</span>
          </div>
          <hunt-stat-comparator-component [max]="100" [originalValue]="left().staminaConsumption"
            [newValue]="right().staminaConsumption"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <span>Melee damage (Heavy):</span>
          </div>
          <hunt-stat-comparator-component [max]="150" [originalValue]="left().heavyMeleeDamage"
            [newValue]="right().heavyMeleeDamage" [showComparison]="toggle.checked"></hunt-stat-comparator-component>
        <td>
          <div>
            <span>Stamina consumption (Heavy):</span>
          </div>
          <hunt-stat-comparator-component [max]="100" [originalValue]="left().heavyStaminaConsumption"
            [newValue]="right().heavyStaminaConsumption"
            [showComparison]="toggle.checked"></hunt-stat-comparator-component>

        </td>
      </tr>

    </table>
  </div>
</div>