div {
  display: flex;
  align-items: center;

  .meter {
    box-sizing: border-box;
    width: 100%;
    height: 8px;
    background-color: #353535;
    border: 1px solid #535353;
    border-radius: 1px;
  }

  .stat-bar {
    box-sizing: border-box;
    height: 100%;
    background: #dddddd;
    transition: width 0.3s ease-in-out;
  }

  .stat-value {
    text-align: right;
    width: 6ch;
    font-weight: 500;
  }
}

.compare {
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
}

.show {
  opacity: 100%;
}