@import '../../../styles.scss';

.content-container {
    display: grid;
    grid-template-columns: 2fr minmax(auto, 1fr);
    transition: grid-template-columns 500ms ease-in-out;
    height: calc(100vh - $nav-bar-height);
    overflow: hidden;
    
    hunt-weapon-list-component, hunt-rifle-stats-component {
        overflow-y: scroll;
    }
}

