@use '../../../styles.scss';

$filter-height: 2.2rem;

.content-container {
  display: grid;
  grid-template-columns: 2fr minmax(auto, 1fr);
  transition: grid-template-columns 500ms ease-in-out;
  height: calc(100vh - styles.$nav-bar-height);
  overflow: hidden;

  >* {
    overflow-y: scroll;
  }
}

.filters-container {
  z-index: 10;
  box-sizing: border-box;
  background-color: black;
  position: sticky;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 0.5rem 1rem;

  >* {
    height: 2.5rem;
  }

  button {
    aspect-ratio: 1/1;
    height: $filter-height;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 0px;
    border: 1px solid white;
    box-sizing: border-box;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      height: 100%;
      aspect-ratio: 1/1;
      transition: border 200ms ease-in-out, background-color 200ms ease-in-out;
    }

    &:hover {
      background-color: rgb(31, 31, 31);
    }

    &.active {
      border-color: gold;
    }
  }
}

.search-container {
  display: flex;
  background-color: rgb(15, 15, 15);
  border: 1px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  height: $filter-height;

  img {
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
  }

  input {
    box-sizing: border-box;
    height: 100%;
    width: 10rem;
    background-color: rgb(15, 15, 15);
    color: white;
    border: none;
    font-size: large;

    &:focus {
      outline: none;
    }
  }
}

.equipment-card-list-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 6px;

  .always-show {
    display: block !important;
  }
}

.cdk-drag-placeholder {
  display: none;
}

.placeholder-equipment-card {
  aspect-ratio: 3/1;
  box-sizing: border-box;
  border: 2px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  position: relative;

  >* {
    margin-bottom: 0.5rem;
  }
}

.toggle {
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  input {
    aspect-ratio: 1/1;
    height: 24px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 3px;
  height: 3rem;
  margin-top: 10px;

  button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(15, 15, 15);
    border: 1px solid white;
    padding: 4px;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      height: 100%;
      aspect-ratio: 1/1;
    }

    &:hover {
      background-color: rgb(31, 31, 31);
    }

    &.active {
      border-color: gold;
    }
  }
}