@use '../../../styles.scss';
@use 'sass:math';

.content-container {
  display: grid;
  grid-template-columns: minmax(400px, 33vw) minmax(550px, 67vw);
  grid-template-rows: 1fr;
  row-gap: 1rem;
  height: 100%;

  >* {
    overflow-y: auto;
  }
}


@media (max-width: 1024px) {
  .content-container {
    grid-template-columns: minmax(400px, 1fr);

    > :first-child {
      display: none;
    }

    > :last-child {
      height: calc(100vh - styles.$nav-bar-height);
    }
  }
}