.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 4rem);
    overflow: hidden;
    
    hunt-weapon-list-component, hunt-rifle-stats-component {
        height: calc(100vh - 4rem);
        overflow-y: scroll;
    }
}