@use '../../../styles.scss';
@use 'sass:math';

.content-container {
  display: grid;
  grid-template-columns: minmax(550px, 2fr) minmax(400px, 1fr);
  height: 100%;

  >* {
    overflow-y: auto;
  }
}