<table class="stat-table">
  <tr>
    <td>
      <div>
        <span>Damage:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="150" [value]="w.activeAmmo.baseDamage"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
    <td>
      <div>
        <span>Effective Range:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="50" [value]="w.activeAmmo.optimalRange"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span>Drop range:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="200" [value]="w.activeAmmo.dropRange"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
    <td>
      <div>
        <span>Muzzle Velocity:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="1000" [value]="w.activeAmmo.muzzleVelocity"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span>Rate of fire:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="100" [value]="w.rateOfFire" [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
    <td>
      <div>
        <span>Cycle time:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="8" [value]="w.cycleTime" [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span>Reload Speed:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="20" [value]="w.reloadTime" [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
    <td>
      <div>
        <span>Spread:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="200" [value]="w.activeAmmo.spread"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span>Sway:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="150" [value]="w.sway" [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
    <td>
      <div>
        <span>Vertical Recoil:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="50" [value]="w.activeAmmo.verticalRecoil"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span>Melee damage:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="150" [value]="w.meleeDamage" [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
    <td>
      <div>
        <span>Stamina consumption:</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="100" [value]="w.staminaConsumption"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <span>Melee damage (Heavy):</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="150" [value]="w.heavyMeleeDamage"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    <td>
      <div>
        <span>Stamina consumption (Heavy):</span>
      </div>
      @for (w of weapons(); track $index) {
      <hunt-stat-bar-component [max]="100" [value]="w.heavyStaminaConsumption"
        [color]="$even ? '' : RIGHT_STAT_BAR_COLOR"></hunt-stat-bar-component>
      }
    </td>
  </tr>
</table>