:host {
  display: block;
  background: #000000;
  border: 2px solid #444444;
  border-radius: 8px;
  width: max(800px, 60vw);
  height: 90vh;
  padding: 1rem;

  animation: in-from-down 500ms ease-out;
}

.inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    display: inline-block;
  }
}


hunt-select-weapon-component {
  overflow-y: auto
  // min-height: 0;
}

