@use '../../../styles.scss';

.equipment-card-list-container {
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 6px;

  overflow-y: auto;

  .always-show {
    display: block !important;
  }
}

@media (max-width: 576px) {
  .equipment-card-list-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}