@use '../../../styles.scss';

$filter-height: 40px;

:host {
  display: flex;
  flex-direction: column;
}

.filters-container {
  flex: 0 0 auto;

  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 0.5rem 1rem;

  button {
    aspect-ratio: 1/1;
    height: $filter-height;
    background-color: styles.$item-bg-color;
    color: white;
    padding: 0px;
    border: 1px solid white;
    box-sizing: border-box;
    transition: border 200ms ease-in-out, background-color 200ms ease-in-out;

    img {
      height: 100%;
      aspect-ratio: 1/1;
      transition: border 200ms ease-in-out, background-color 200ms ease-in-out;
    }

    &:hover {
      background-color: styles.$item-bg-hover-color;
    }

    &.active {
      border-color: gold;
    }
  }
}

.search-container {
  display: flex;
  background-color: styles.$item-bg-color;
  border: 1px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  height: $filter-height;
  width: $filter-height * 6;
  min-width: $filter-height * 3;

  img {
    box-sizing: border-box;
    padding: 5px;
    height: 100%;
  }

  input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: styles.$item-bg-color;
    color: white;
    border: none;
    font-size: large;

    &:focus {
      outline: none;
    }
  }
}



.equipment-card-list-container {
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 6px;

  overflow-y: auto;

  .always-show {
    display: block !important;
  }
}