/* You can add global styles to this file, and also import other style files */
@use "sass:math";
@import '@angular/cdk/overlay-prebuilt.css';

$nav-bar-height: 3rem;
$item-bg-hover-color: rgb(30, 30, 30);
$item-bg-color: rgb(10, 10, 10);
$compare-card-ratio: math.div(12, 3);

body,
html {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: large;
  color: white;
  background-color: black;

  * {
    scrollbar-width: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}


// cdkDrag doesn't allow putting this css inside the component
.equipment-card-list-container .cdk-drag-placeholder {
  display: none;
}

.icon-only-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  padding: 3px;
  background: none;
  transition: background-color ease-in-out 200ms;

  .material-symbols-outlined {
    font-size: xx-large;
    color: white;
  }

  &:hover {
    background: $item-bg-hover-color;
  }
}

.stat-table {
  font-size: 16px;
  width: 100%;

  tr {
    td {
      width: 50%;
      padding-right: 0.25rem;
    }
  }
}

@keyframes in-from-down {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes in-from-up {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes out-to-up {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(-100vh);
  }
}

@keyframes out-to-below {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(100vh);
  }
}

::view-transition-old(animate-out-to-above) {
  animation: 1s ease-in-out both out-to-up;
}

::view-transition-old(animate-out-to-below) {
  animation: 1s ease-in-out both out-to-below;
}

::view-transition-new(animate-in-from-above) {
  animation: 1s ease-in-out both in-from-up;
}

::view-transition-new(animate-in-from-below) {
  animation: 1s ease-in-out both in-from-down;
}

.animate-out-to-above {
  view-transition-name: animate-out-to-above;
}

.animate-out-to-below {
  view-transition-name: animate-out-to-below;
}

.animate-in-from-above {
  view-transition-name: animate-out-from-above;
}

.animate-in-from-below {
  view-transition-name: animate-in-from-below;
}