/* You can add global styles to this file, and also import other style files */
// @use '/src/app/pages/weapon-select-page/weapon-select-page.scss';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$nav-bar-height: 3rem;

body,
html {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  color: white;
  background-color: black;
}

h1,
p {
  margin: 0px;
}

@keyframes in-from-down {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes in-from-up {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes out-to-up {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(-100vh);
  }
}

@keyframes out-to-below {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(100vh);
  }
}

::view-transition-old(animate-out-to-above) {
  animation: 1s ease-in-out both out-to-up;
}

::view-transition-old(animate-out-to-below) {
  animation: 1s ease-in-out both out-to-below;
}

::view-transition-new(animate-in-from-above) {
  animation: 1s ease-in-out both in-from-up;
}

::view-transition-new(animate-in-from-below) {
  animation: 1s ease-in-out both in-from-down;
}

.animate-out-to-above {
  view-transition-name: animate-out-to-above;
}

.animate-out-to-below {
  view-transition-name: animate-out-to-below;
}

.animate-in-from-above {
  view-transition-name: animate-out-from-above;
}

.animate-in-from-below {
  view-transition-name: animate-in-from-below;
}