/* You can add global styles to this file, and also import other style files */
@use "sass:math";

$nav-bar-height: 3rem;
$item-bg-hover-color: rgb(25, 25, 25);
$item-bg-color: rgb(10, 10, 10);
$compare-card-ratio: math.div(12, 3);

body,
html {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  color: white;
  background-color: black;

  * {
    scrollbar-width: none;
  }
}

h1,
p {
  margin: 0px;
}

// cdkDrag doesn't allow putting this css inside the component
.equipment-card-list-container .cdk-drag-placeholder {
  display: none;
}

@keyframes in-from-down {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes in-from-up {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes out-to-up {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(-100vh);
  }
}

@keyframes out-to-below {
  from {
    transform: translateY(0vh);
  }

  to {
    transform: translateY(100vh);
  }
}

::view-transition-old(animate-out-to-above) {
  animation: 1s ease-in-out both out-to-up;
}

::view-transition-old(animate-out-to-below) {
  animation: 1s ease-in-out both out-to-below;
}

::view-transition-new(animate-in-from-above) {
  animation: 1s ease-in-out both in-from-up;
}

::view-transition-new(animate-in-from-below) {
  animation: 1s ease-in-out both in-from-down;
}

.animate-out-to-above {
  view-transition-name: animate-out-to-above;
}

.animate-out-to-below {
  view-transition-name: animate-out-to-below;
}

.animate-in-from-above {
  view-transition-name: animate-out-from-above;
}

.animate-in-from-below {
  view-transition-name: animate-in-from-below;
}