<h1>Damage Information</h1>
<hunt-chart-component class="right" [ammo]="ammo()" (rangeSelected)="onRangeSelected($event)"></hunt-chart-component>
<h2>Note</h2>
<p>
  These damage numbers should be correct within ~1m of accuracy.
</p>
<p>
  If you want to see the damage done to limbs at different ranges, just click on the line at your desired range.
</p>
<p>
  The vertical dashed lines represent the different thresholds for downing a full HP hunter with 2 shots. Hover over the vertical lines to
  see which bodypart combination the threshold corresponds to.
  @if (chestChestRange() !== "not possible") {
  For example: This weapon will down a hunter with 2 shots up to {{ chestChestRange() }} if both shots hit the chest. <br>
  }
</p>