.content-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 33.3vw));

  .left {
    // background-color: #222831;
  }

  .middle {
    // background-color: #393E46;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    // background-color: #948979;
  }
}