.content-container {
  display: grid;
  grid-template-columns: minmax(400px, 30vw) minmax(400px, 25vw) minmax(400px, 45vw);

  .left {
    padding: 0 1rem;
  }

  .middle {
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    padding: 0 1rem;
  }
}

